h1{
    font-family: 'Lora', serif !important;
    font-size: 25px  !important;
    color: rgb(87, 85, 85) !important; 
}

h2{
    font-family: 'Lora', serif !important;
    font-size: 30px  !important;
    color: rgb(87, 85, 85) !important; 
}